In [1]:
import pandas as pd

In [2]:
ds = pd.read_csv('NP2014_D1.csv')

In [3]:
ds.head()

,origin,race,sex,year,total_pop,pop_0,pop_1,pop_2,pop_3,pop_4,...,pop_91,pop_92,pop_93,pop_94,pop_95,pop_96,pop_97,pop_98,pop_99,pop_100
0,0,0,0,2014,318748017,3971847,3957864,3972081,4003272,4001929,...,427331,355279,286604,219260,157054,121336,84101,60314,41987,70344
1,0,0,0,2015,321368864,4000831,3988161,3974109,3986357,4015656,...,442185,362183,295845,234146,175609,123059,92909,62843,43941,71897
2,0,0,0,2016,323995528,4029356,4017346,4004585,3988434,3998839,...,452570,375203,301995,242066,187727,137851,94383,69548,45855,73173
3,0,0,0,2017,326625791,4057231,4046063,4033932,4019069,4000955,...,452613,384455,313248,247453,194398,147520,105942,70777,50845,74825
4,0,0,0,2018,329256465,4083375,4074132,4062816,4048550,4031712,...,464190,384904,321369,257013,199015,153039,113492,79615,51839,79172

In [5]:
years_count = {}
col = ds['year']
for entry in col:
    if entry in years_count.keys():
        years_count[entry] += 1
    else:
        years_count[entry] = 1

years_count

{2014: 108,
 2015: 108,
 2016: 108,
 2017: 108,
 2018: 108,
 2019: 108,
 2020: 108,
 2021: 108,
 2022: 108,
 2023: 108,
 2024: 108,
 2025: 108,
 2026: 108,
 2027: 108,
 2028: 108,
 2029: 108,
 2030: 108,
 2031: 108,
 2032: 108,
 2033: 108,
 2034: 108,
 2035: 108,
 2036: 108,
 2037: 108,
 2038: 108,
 2039: 108,
 2040: 108,
 2041: 108,
 2042: 108,
 2043: 108,
 2044: 108,
 2045: 108,
 2046: 108,
 2047: 108,
 2048: 108,
 2049: 108,
 2050: 108,
 2051: 108,
 2052: 108,
 2053: 108,
 2054: 108,
 2055: 108,
 2056: 108,
 2057: 108,
 2058: 108,
 2059: 108,
 2060: 108}

In [14]:
def heya(x1, x2):
    """mwahaha"""
    d = x1 + 2*x2
    
    return d

heya(1,3)

print("hello")

hello

In [19]:
def print_it(**kwargs):
    
    for key, value in kwargs.items():
        print(key + ": " + value)

print_it(name = "hee", hm = "hoo")

hm: hoo
name: hee

In [21]:
def square_me(n):
    """Accepts only even powers"""
    if n % 2 > 0:
        raise ValueError('n must be even')
    try:
        return 2**n
    except TypeError:
        print('must be a number')